services:
  ui:
    build:
      context: .
      target: ui
    ports:
      - "8501:8080"
    env_file:
      - .env
    environment:
      - PORT=8080
      - BSB_MCP_SERVER=http://mcp:8080/mcp
    depends_on:
      - mcp

  mcp:
    build:
      context: .
      target: mcp
    ports:
      - "8087:8080"
    env_file:
      - .env
    environment:
      - PORT=8080

  vector-store:
    image: qdrant/qdrant:v1.12.1
    container_name: vector-store
    restart: unless-stopped
    ports:
      - "6333:6333"  # Expose Qdrant's dashboard
      - "6334:6334"  # Expose Qdrant's HTTP port
    volumes:
      - ./docker_volumes/qdrant_data:/qdrant/data  # Persistent data volume
    environment:
      QDRANT_HTTP_ADDRESS: 0.0.0.0:6334